# standard python items
*.pyc
__pycache__/

# standard pycharm items
.idea/
.pycharmrc

# ignore contents of bower_components
app/static/bower_components/

# ignore server scripts
runcelery.sh
webserver.sh

# ignore log folder
log/
