[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

/*
   Responsive Footer template from:
   http://demo.tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/footer-distributed.html
*/

.footer-distributed{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px 50px;
	margin-top: 80px;

	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;

	text-align: left;
	font: normal 16px sans-serif;
}

.footer-distributed .footer-left p{
	color:  #ffffff;
	font-size: 18px;
	margin: 0;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 0px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}