[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table {
    width: 80%;
    margin: 0 auto;
	float: none;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

.list-inline {
    font-size: 85%;
}

#save-btn {
    width: 80%;
    margin: 10px auto;
    text-align: right;
}

.col-centered {
    text-align: center;
    margin: 10px auto;
}

/* footer placement. css adapted from:
   http://stackoverflow.com/questions/8824831/make-div-stay-at-bottom-of-pages-content-all-the-time-even-when-there-are-scrol/8825714#8825714
*/

html, body {
    height: 100%;
}

#holder {
    min-height: 100%;
    position: relative;
}

#header {
    height: 125px;
    margin-left: 20px;
    margin-top: 20px;
}

#body {
    padding-bottom: 125px;
}

#footer {
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#packages {
    font-size: 0.8em;
}

/*
   Responsive Footer template from:
   http://demo.tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/footer-distributed.html
*/

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 25px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #ffffff;
	font-size: 18px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
