{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Fuzzy Flask{% endblock %}

{% block page_content %}
  <div>
    {# Animation via ngAnimate + angular-ui/bootstrap,  https://github.com/angular-ui/bootstrap/tree/master/src/collapse #}
    <form class="form-horizontal" role="form" ng-submit="app.sendData()" uib-collapse="isFormCollapsed">
      {# Create form by hand as opposed to using wtf.quick_form() #}
      {# this allows sending in parameters to #}
      {# source: https://pythonhosted.org/Flask-Bootstrap/forms.html #}
      {{ data_form.csrf_token }}
      <div class="form-group">
        <div class="form-group row">
          <div class="col-md-4 col-md-offset-1">
            {{ wtf.form_field(data_form.dataset, ng_model="form.dataset", placeholder="Paste single-column data here...", rows="10") }}
          </div>
          <div class="col-md-4 col-md-offset-2">
            {{ wtf.form_field(data_form.dictionary, ng_model="form.dictionary", placeholder="Paste dictionary here...", rows="10") }}
          </div>
        </div>
      </div>
      <div class="col-md-12 col-centered">
        {{ wtf.form_field(data_form.submit) }}
      </div>
    </form>
    {# button only shows when form hidden #}
    <div class="ng-cloak col-centered" ng-show="isFormCollapsed">
      <button type="button" class="btn btn-default ng-cloak" ng-click="isFormCollapsed = !isFormCollapsed">Show search form</button>
    </div>
    {# use ng-cloak and css file to avoid flicker effect #}
    {# source: https://docs.angularjs.org/api/ng/directive/ngCloak #}
    <div class="ng-cloak col-md-4 col-md-offset-4 well" ng-show="isRunning">
      <div class="col-centered">
        <uib-progressbar max="progressTotal" value="progressCurrent"><span style="color:white; white-space:nowrap;">{a progressCurrent a} / {a progressTotal a}</span></uib-progressbar>
      </div>
      <div class="col-centered">
        <button class="btn btn-default col-centered" ng-click="app.stopMatch()">Stop <i class="fa fa-hand-paper-o" aria-hidden="true"></i></button>
      </div>
    </div>
    {# using ng-csv to export file: https://github.com/asafdav/ng-csv #}
    <div id="save-btn" class="ng-cloak" ng-show="dataframe.length">
      <button class="btn btn-default"  ng-csv="dataframe" filename="test.csv" csv-header="tableHeader">Save to CSV <i class="fa fa-file-excel-o"></i></button>
    </div>
    <table class="ng-cloak" ng-show="dataframe.length">
      <thead>
        <tr>
          <th ng-repeat="h in tableHeader">{a h a}</th>
          <th>Edit</th>
        </tr>
      </thead>
      {# Partially adapted from http://ng-table.com/#/editing/demo-inline #}
      <tr ng-repeat="row in dataframe" ng-form="rowForm">
        <td><span>{a row.data a}</span></td>
        <td ng-switch="row.isEditing">
          <span ng-switch-default>{a row.match a}</span>
          <select ng-switch-when="true" ng-model="row.match" ng-options="o as o for o in dictionary" required class="form-control"></select>
        </td>
        <td><span>{a row.score a}</span></td>
        <td><input type="checkbox" ng-model="row.selected"></td>
        <td>
          <button class="btn btn-primary btn-sm" ng-click="app.save(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-ok"></span></button>
          <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}


{% block scripts %}
  {{ super() }}
  <script type="text/ng-template" id="notificationModal.html">
      <div class="modal-header">
          <h3 class="modal-title">Error!</h3>
      </div>
      <div class="modal-body">
          {a modalErrorMessage a}
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      </div>
  </script>
{% endblock %}