{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block title %}Fuzzy Flask{% endblock %}

{% block page_content %}
  <div>
    {# TODO: Make textboxes into two columns, not two big rows #}
    <form class="form" role="form" ng-submit="app.sendData()">
      {# Create form by hand as opposed to using wtf.quick_form() #}
      {# this allows sending in parameters to #}
      {# source: https://pythonhosted.org/Flask-Bootstrap/forms.html #}
      {{ data_form.csrf_token }}
      {{ wtf.form_field(data_form.dataset, ng_model="form.dataset", placeholder="Paste single-column data here...", rows="10") }}
      {{ wtf.form_field(data_form.dataset, ng_model="form.dictionary", placeholder="Paste dictionary here...", rows="10") }}
      {{ wtf.form_field(data_form.submit) }}
    </form>
    {# use ng-cloak and css file to avoid flicker effect #}
    {# source: https://docs.angularjs.org/api/ng/directive/ngCloak #}
    <table class="ng-cloak">
      <tr ng-repeat="row in dataframe">
        <td>{a row.data a}</td>
        <td>{a row.match a}</td>
        <td>{a row.score a}</td>
      </tr>
    </table>
  </div>
{% endblock %}

